# Build outputs
build/
build-*/
*.user
*.suo
*.sdf
*.opensdf
*.ncb
*.vcproj.*
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist

# IDE / OS
.vs/
.vscode/
Icon?
.DS_Store
Thumbs.db

# Archives / binaries
*.exe
*.zip
*.dmg
*.pkg
*.mpkg
ipch/
gui/
